

.wrapper-cart {
    padding: 1em;
    margin-left: 5em;
    margin-right: 5em;
    
   
}

.cart-titles {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid red;
    width: 100%;
    
}

@media (max-width: 875px) {
    .section {
        padding: 0em;
        margin: 0em;
    }

}

.cart-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 0.5em;
   margin-top: 1em; 
   position: relative
  
}

.cart-img {
    width: 8em;
}

.info-cart {
    display: flex;
    align-items: center;
}

.titles-game {
    margin-left: 1em;
    width: 700%;
}

.remove {
   
    font-size: 2rem;
    margin-right: 0.2em;

}

.button-cart {
    
    background-color: red;
    margin: 0.5em;
    border: 3px solid blue;
    color: black;

}

.cart-button-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.empty-cart-wrapper {
    display: flex;
    width: 100%;
    padding: 5em;
    justify-content: center;
    align-items:center;

}

.empty-cart {
    
    padding: 2em;
    color: blue !important;
}

.finish {
    display: flex;
    align-items: flex-end;
    width: 100%;
    flex-direction: column;
}


@media (min-width: 865px) {
    .pricing-info {
        display: flex;
        flex-direction: row;
        margin-left: 1em;
    }

    .item-text {
        margin-left: 0.5em;
    }
    }

    @media (max-width: 682px) {
        .wrapper-cart {
            margin-left: 0.2em;
            margin-right: 0.2em;
            
        }
        .item-text, .total {
            font-size: 0.9rem;
        }
        .cart-img {
            width: 6em;
        }
        
        }

        @media (max-width: 330px) {
            
            .cart-img {
                width: 4em;
            }
            .item-text, .total {
                font-size: 0.7rem;
            }
            .cart-titles-title {
                font-size: 1rem;
            }
           
            }
            @media (max-width: 400px) {
            
              
                .button-cart {
                    font-size: 0.5rem;
                    
                }
                }

