.shop-icon {
    width: 3em;
    
    position: relative;
}

.cart-widget {
    display: flex;
}

.buys {
    color: red;
    position: absolute;
    width: 150px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    bottom: 0;
    
    
   
    
}