.toad {
    width: 8em;
}

.main-container {
    display: flex;
    width: 100%;
   
    justify-content: center;
    background-image: url(./back.png);
    background-blend-mode: exclusion;
   


}

.title {
    margin-top: 2em;
}