

.toad {
    width: 8em;
}

.main-container {
    display: flex;
    width: 100%;
    height: 200px;
   

    justify-content: center;
    background-image: url(./back.png);
    background-blend-mode: exclusion;
   


}

.title {
    margin-top: 2em;
    font-family: 'Pretendo', sans-serif;
}