.logo {
    width: 3em;
    margin-top: 0.5em;
}
.logo-uno {
    width: 2.4em;
    margin-top: 0.5em;
}

.navbar {
    background-color: #fff;

}
.container {
    width: 100%;
}

.navbar-brand {
    background-color: red;
    font-family: 'Pretendo', sans-serif;
    padding: 1em;
}