.item-count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}



.button {
    width: 1.7em;
    
    background-color: red;
    margin: 0.5em;
    border: 1px solid red;

}